In [1]:
# THIS CODE HAS BEEN USED TO SCALED UP THE ORIGINAL DATASOURCES.
# NOTE: THE PROVIDED GENERATED DATASOURCES IN THE GITHUB ARE NOT THE ORIGINAL DATASOURCES, BUT AN ANONYMISED VERSION WITH ONLY THE TOP 1000 RECORDS TO PREVENT HUGE FILES.

In [2]:
%sql

-- CREATE TABLE IN_QueryAjax_Scaled
DROP TABLE IF EXISTS IN_QueryAjax_Scaled;

CREATE TABLE IN_QueryAjax_Scaled

SELECT * FROM IN_QueryAjax

-- Till 5th UNION
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax

-- Till 10th UNION
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax

-- Till 15th UNION
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax

-- Till 20th UNION
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax
UNION ALL SELECT * FROM IN_QueryAjax

In [3]:
%sql

-- CREATE NEW CAT_FINAL TABLE WITHOUT "AVARAGE" COLUMN TO PREVENT ERRORS
CREATE TABLE CAT_Final_V2

SELECT
periodFullName,isProcessed,fileName,Velocity_Band_6_Total_Duration,Velocity_Band_6_Total_Distance,Velocity_Band_5_Total_Duration,Velocity_Band_5_Total_Distance,Velocity_Band_4_Total_Duration,Velocity_Band_4_Total_Distance,Velocity_Band_3_Total_Duration,Velocity_Band_3_Total_Distance,Velocity_Band_2_Total_Duration,Velocity_Band_2_Total_Distance,Velocity_Band_1_Total_Duration,Velocity_Band_1_Total_Distance,Veld_grootte,Total_Duration,Total_Distance,Team_id,TableRow_skey,Start_Time,Soort_training,Session_Count,Remark3,Remark2,Remark,Player_id,Period_Number,Period_Name,Mean_Heart_Rate,Maximum_Velocity,Maximum_Heart_Rate,LoadDateTime,IMA_Jump_Count_Med_Band,IMA_Jump_Count_Low_Band,IMA_Jump_Count_High_Band,IMA_Dive_Intensity_Band_8_Right_Count,IMA_Dive_Intensity_Band_8_Left_Count,IMA_Dive_Intensity_Band_7_Right_Count,IMA_Dive_Intensity_Band_7_Left_Count,IMA_Dive_Intensity_Band_6_Right_Count,IMA_Dive_Intensity_Band_6_Left_Count,IMA_Dive_Intensity_Band_5_Right_Count,IMA_Dive_Intensity_Band_5_Left_Count,IMA_Dive_Intensity_Band_4_Right_Count,IMA_Dive_Intensity_Band_4_Left_Count,IMA_Dive_Intensity_Band_3_Right_Return_Band_3_Count,IMA_Dive_Intensity_Band_3_Right_Return_Band_2_Count,IMA_Dive_Intensity_Band_3_Right_Return_Band_1_Count,IMA_Dive_Intensity_Band_3_Right_Count,IMA_Dive_Intensity_Band_3_Left_Return_Band_3_Count,IMA_Dive_Intensity_Band_3_Left_Return_Band_2_Count,IMA_Dive_Intensity_Band_3_Left_Return_Band_1_Count,IMA_Dive_Intensity_Band_3_Left_Count,IMA_Dive_Intensity_Band_2_Right_Return_Band_3_Count,IMA_Dive_Intensity_Band_2_Right_Return_Band_2_Count,IMA_Dive_Intensity_Band_2_Right_Return_Band_1_Count,IMA_Dive_Intensity_Band_2_Right_Count,IMA_Dive_Intensity_Band_2_Left_Return_Band_3_Count,IMA_Dive_Intensity_Band_2_Left_Return_Band_2_Count,IMA_Dive_Intensity_Band_2_Left_Return_Band_1_Count,IMA_Dive_Intensity_Band_2_Left_Count,IMA_Dive_Intensity_Band_1_Right_Return_Band_3_Count,IMA_Dive_Intensity_Band_1_Right_Return_Band_2_Count,IMA_Dive_Intensity_Band_1_Right_Return_Band_1_Count,IMA_Dive_Intensity_Band_1_Right_Count,IMA_Dive_Intensity_Band_1_Left_Return_Band_3_Count,IMA_Dive_Intensity_Band_1_Left_Return_Band_2_Count,IMA_Dive_Intensity_Band_1_Left_Return_Band_1_Count,IMA_Dive_Intensity_Band_1_Left_Count,

--Heart_Rate_Load_(Average),

Heart_Rate_Index,Heart_Rate_Band_6_Total_Duration,Heart_Rate_Band_5_Total_Duration,Heart_Rate_Band_4_Total_Duration,Heart_Rate_Band_3_Total_Duration,Heart_Rate_Band_2_Total_Duration,Heart_Rate_Band_1_Total_Duration,Field_Time,ExcludeHR,Exclude,End_Time,Date,Bench_Time,AM_PM

FROM CAT_Final_1

In [4]:
%sql

-- CREATE TABLE CAT_FINAL
DROP TABLE IF EXISTS CAT_Final_Scaled;

CREATE TABLE CAT_Final_Scaled

SELECT * FROM CAT_Final_V2

-- Till 5th UNION

UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2

-- Till 10th UNION
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2

-- Till 15th UNION
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2

-- Till 20th UNION
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2
UNION ALL SELECT * FROM CAT_Final_V2

In [5]:
%sql

-- CREATE TABLE RPE_NEW
DROP TABLE IF EXISTS RPE_New_Scaled;

CREATE TABLE RPE_New_Scaled

SELECT * FROM RPE_New

-- Till 5th UNION
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New

-- Till 10th UNION
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New

-- Till 15th UNION
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New

-- Till 20th UNION
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New
UNION ALL SELECT * FROM RPE_New

In [6]:
%sql

-- CREATE NEW LOAD_EXTERN TABLE TO PREVENT OCCURING ERRORS
CREATE TABLE Load_Extern_V2

SELECT Date
      ,Time
      ,Team_id
      ,Activity_Team
      ,Player_id
      ,'Exercise Name' AS Exercise_Name
      ,Exercise_nr
      ,Exercise_name_toevoeging
      ,Comment
      ,'Exercise Part' AS Exercise_Part
      ,Veldgrootte
      ,Duration
      ,System
      ,Activity
      ,Positie_wedstrijd
      ,'Total Distance' AS Total_Distance
      ,'Distance 0 - 7 km/u' AS Distance_0_B_7_km_u
      ,'Distance 7 - 12 km/u' AS Distance_7_B_12_km_u
      ,'Distance 12 - 15 km/u' AS Distance_12_B_15_km_u
      ,'Distance 15 - 17.5 km/u' AS Distance_15_B_17_DOT_5_km_u
      ,'High Intensity Distance 17.5 - 22.5 km/u' AS High_Intensity_Distance_17_DOT_5_B_22_DOT_5_km_u
      ,'Sprint Distance > 22.5 km/u' AS Sprint_Distance_BT_22_DOT_5_km_u
      ,'High Intensity Distance > 17.5 km/u' AS High_Intensity_Distance_BT_17_DOT_5_km_u
      ,'Accelerations Low' AS Accelerations_Low
      ,'Accelerations Medium' AS Accelerations_Medium
      ,'Accelerations High' AS Accelerations_High
      ,'Heart Rate Low' AS Heart_Rate_Low
      ,'Heart Rate Medium' AS Heart_Rate_Medium
      ,'Heart Rate High' AS Heart_Rate_High
      ,'Heart Rate > 86%' AS Heart_Rate_BT_86
      ,'Heart Rate 86% - 93%' AS Heart_Rate_86_B_93
      ,'Heart Rate > 93%' AS Heart_Rate_BT_93
      ,'Maximum Heart Rate' AS Maximum_Heart_Rate
      ,'Relative Maximum Heart Rate' AS Relative_Maximum_Heart_Rate
      ,'Mean HR' AS Mean_HR
      ,'Relative Mean HR' AS Relative_Mean_HR
      ,HR_Index
      ,'Maximum Velocity' AS Maximum_Velocity
      ,Error_XY 
      ,Error_HR
      ,Comments
      ,AM_PM
      ,DaysBeforeMatch
      ,DaysAfterMatch
      ,id
      ,Entered_datetime   

FROM Load_Extern_CSV

In [7]:
%sql

-- CREATE TABLE LOAD_EXTERN_SCALED
DROP TABLE IF EXISTS Load_Extern_Scaled;

CREATE TABLE Load_Extern_Scaled

SELECT * FROM Load_Extern_V2

-- Till 5th UNION
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2

-- Till 10th UNION
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2

-- Till 15th UNION
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2

-- Till 20th UNION
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2
UNION ALL SELECT * FROM Load_Extern_V2

In [8]:
%sql

-- CREATE TABLE READINESSVIEW
DROP TABLE IF EXISTS ReadinessView_Scaled;

CREATE TABLE ReadinessView_Scaled

SELECT * FROM ReadinessView

-- Till 5th UNION
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView

-- Till 10th UNION
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView

-- Till 15th UNION
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView

-- Till 20th UNION
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView
UNION ALL SELECT * FROM ReadinessView

In [9]:
# TEST IF ALL TABLES GOT SCALED CORRECTLY

spark.sql("""(SELECT COUNT(*), 'IN_QueryAjax_Scaled' FROM IN_QueryAjax_Scaled) """).show()
spark.sql("""(SELECT COUNT(*), 'IN_QueryAjax' FROM IN_QueryAjax) """).show()

spark.sql("""(SELECT COUNT(*), 'CAT_Final_Scaled' FROM CAT_Final_Scaled) """).show()
spark.sql("""(SELECT COUNT(*), 'CAT_Final_V2' FROM CAT_Final_V2) """).show()

spark.sql("""(SELECT COUNT(*), 'ReadinessView_Scaled' FROM ReadinessView_Scaled) """).show()
spark.sql("""(SELECT COUNT(*), 'ReadinessView' FROM ReadinessView) """).show()

spark.sql("""(SELECT COUNT(*), 'RPE_New_Scaled' FROM RPE_New_Scaled) """).show()
spark.sql("""(SELECT COUNT(*), 'RPE_New' FROM RPE_New) """).show()

spark.sql("""(SELECT COUNT(*), 'Load_Extern_Scaled' FROM Load_Extern_Scaled) """).show()
spark.sql("""(SELECT COUNT(*), 'Load_Extern' FROM Load_Extern_V2) """).show()